appdirs==1.4.4
application-utility==1.3.2
btrfsutil==5.16.2
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cycler==0.10.0
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docopt==0.6.2
filelock==3.6.0
fonttools==4.30.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
keyutils==0.6
kiwisolver==1.3.2
lit==13.0.1.dev0
manjaro-sdk==0.1
Markdown==3.3.6
matplotlib==3.5.1
more-itertools==8.10.0
msgpack==1.0.3
npyscreen==4.10.5
numpy==1.22.3
opencv-python==4.5.5.64
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pandas==1.4.2
pep517==0.12.0
Pillow==9.0.1
platformdirs==2.5.1
ply==3.11
progress==1.6
pycparser==2.21
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==3.0.1
PySide6==6.2.3
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
shiboken6==6.2.3
six==1.16.0
systemd-python==234
team==1.0
toml==0.10.2
tomli==2.0.0
udiskie==2.4.2
urllib3==1.26.8
virtualenv==20.14.0
webencodings==0.5.1
zipp==3.7.0
